@font-face {
    src: url(../Projeto-LOL/fonts/Mark-Book/Mark-Book.ttf);
    font-family: ff-mark;
}
@font-face {
    src: url(../Projeto-LOL/fonts/spiegel.ttf);
    font-family: spiegel;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    font-family: ff-mark;
    background-color: black;
    height: 80px;
    display: flex;

    align-items: center;

    &-icons {
        display: flex;
        justify-content: space-evenly;
        width: 180px;
        height: 36px;
        margin-left: 10px;
        &-1 {
            height: 51px;
            align-self: center;
            padding-right: 10px;
        }
    }

    nav{ 
        display: flex;
        flex-grow: 1;

        a{ 
        padding-left: 46px;
        text-decoration: none;
        color: #F9F9F9;
        display: inline-block;
        font-size: 11px;
        font-weight: 900;
   
            &:link {
                color: white;
            }
            &:visited {
                color: white;
            }
        }
    }

    &-login {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 30px;
        margin-right: 20px;

        img {
            width: 18px;
            height: 56%;
        }

        a {
            text-decoration: none;
            display: inline-block;
            margin: 20px 15px;
            transition: color 300ms cubic-bezier(0.06, 0.81, 0, 0.98);
            vertical-align: middle;
            font-family: ff-mark;
            font-weight: 900;
            font-size: 11px;
        
            &:link {
                color:white
            }
            &:visited {
                color:white
            }
        }
            
            button {
                font-size: 12px;
                font-weight: 800;
                color: white;
                background-color: #0bc4e2;
                text-align: center;
                border-radius: 2px;
                line-height: 16px;
                height: 41px;
                width: 129px;
            }
    }
}

.banner {
    display: flex;
    justify-content: flex-start;
    margin-top: 38px;

    &-items {
            display: flex;
            align-items: center;
            color: white;
            background-color: black;
            margin-left: 110px;
            padding-left: 240px;
            width: 1680px;
            height: 95px;

        h1{
            font-size: 30px;
            font-weight: bolder;
            font-family: system-ui;
            font-style: italic;
        }

        p{
            font-family: spiegel;
            font-size: 12px;
            padding-left: 94px;
            letter-spacing: 1px;
        }
    }
}

.main { 
    margin: 150px auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    justify-content: space-evenly;

    &-content{
        margin-bottom: 70px;
        font-weight: 900;
        img {
            width: 388px;
            height: 215px;
        }
        &-info {
            padding: 10px 0px 0px 20px;
            letter-spacing: 0.75px;
            width: 392px;

           h6 {
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.1em;
            font-family: spiegel;
            color: rgb(11, 198, 227);
           }
           h2 {
            font-size: 20px;
            width: 350px;
            margin: 10px 0px;
            font-family: spiegel;
           }
           p {
            font-size:12px;
            font-family: spiegel;
           }
        }
    }   
}

.footer {
    display: flex;
    color: white;
    height: 713px;
    background-color: black;

    ul {
        display: flex;
        margin: 0 auto;
        height: max-content;
        margin-top: 40px;
        justify-content: center;
        list-style: none;

        li {
            margin: 0 16px;
            padding: 0px;
            font-family: ff-mark;
            font-size: 12px;
            text-decoration: none;
            color: #7E7E7E;
            font-weight: bolder;
        }
    }
    
}